
html, body, div{
  margin: 0;
  padding: 0;
  font-family: "黑体";
}

body{
	background-color: #ebebeb;
}
/*头部属性*/
.header{
	background-color: #337ab7;
	padding: 10px 20px 10px 20px;
}

.nav{
	float: right;
	margin-top: 50px;

}

.item{
	display: inline-block;
	vertical-align: bottom;
	margin-right: 10px;
}

.item a{
	padding: 10px;
	color: white;
	text-decoration: none;
}
.item :hover{
	background-color: #8a9fbf;
}

/*文章属性*/
.right,.tupian,.content,.last{
	width: 100%;
	background-color: #fff;
	margin:20px;
	padding: 20px;
	border: 1px solid #acacac;
	overflow: auto;
}
.article{
	width: 62%;
	float: left;
}
.pic{
	float: left;
}

.pic2{
	box-sizing:content-box;
}

.tupian-item{
	width: 15%;
	padding: 40px;
}

thead{
	color: #fff;
	background-color: #333;S
}

table{
	width: 100%;
	margin: 0,auto;
	border-color: #ccc;
	border-collapse: collapse;
}
tfoot{
	background-color: #ccc;
}

.right
{
	float: right;
	width:27%;
	vertical-align: top;
}
.input_message {
    width: 30%;
    text-align: right;
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
    vertical-align: top;
    margin-bottom: 0px;
}
.bot{
	vertical-align: top;
}

.input_messages {
    width: 30%;
    text-align: right;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}

textarea {
    margin-top: 10px;
    width: 50%;
    height: 100px;
    margin-left: -7px;
}

.submit{
	margin: auto;
	height: 40px;
	width: 100%;
	background: #337ab7;
	border-radius: 10px;
	color:white;
	font-size: 20px;
}